/*** Stylesheet for the Google Fonts Exercise *****/

body {
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-family: 'Yeseva One', cursive;
}

h2 {
    font-family: 'Oleo Script', cursive;
}